:root {
    --border-color: #FF0060;
    --list-color: black;
    /* --base-color: #ecf4f6; */
    --base-color: #1f1f13;
    --point-color:  #1E90FF;
    --point-color2: #b4b7be;
}

.root-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #18180D;
}

.chat-border {
    border: var(--border-color) 1px solid;
}
/* In your CSS file */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}


.container {
    height: 100%;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
    background-color: #18180D;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out; /* Change the duration as desired */
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* chat list */

.chat-header-box {
    height: 100px;
    backdrop-filter: blur(10px);
    -webkit-filter: blur(10px);
}

.chat-list-box {
    width: 370px;
    background: #20344b;
    height: 100%;
}

.chat-list-header {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1);
    padding: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    border-radius: 0px 0px 14px 14px;
}

.chat-list {
    padding: 15px;
    margin-top: 10px;
    height: 100%;
    /* background: var(--base-color); */
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b3b3f, #1a1c1d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b3b3f, #1a1c1d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 14px 14px 0px 0px;
    z-index: 5;
}


.chat-mode-box {
    margin-top: 30px;
    display: flex;
    width: 260px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #F8F1F1;
    background: #FDFDFD;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.10);
}

.chat-mode-selected {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 130px;
    height: 40px;
    border-radius: 14px;
    background: var(--point-color);
    color: #FDFDFE;
    font-size: 12px;
    box-shadow: 0px 8px 40px 0px rgba(101, 136, 222, 0.5);
}

.chat-mode {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 130px;
    height: 40px;
    border-radius: 14px;
    color: #52585E;
    font-size: 12px;
}


/* chat main */

.chat-box {
    flex: 3;
    justify-content: space-between;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background: #20344b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #20344b, #080c14);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #20344b, #080c14); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

.chat-header {
    display: flex;
    justify-content: center;
}


/* list item */

.list-item-box {
    padding: 15px;
    width: 310px;
    height: 74px;
    display: flex;
    flex-direction: row;
}

.list-item-box-selected {
    background-color: var(--point-color);
    padding: 15px;
    width: 310px;
    height: 74px;
    display: flex;
    flex-direction: row;
    border-radius: 14px;
    /* box-shadow: 0px 8px 40px 0px rgba(0, 72, 251, 0.30); */
    box-shadow: 0px 8px 40px 0px rgba(101, 136, 222, 0.8);
}

.list-item-photo-selected {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    height: 44px;
    width: 44px;
    border-radius: 44px;
    border: 3px solid #13C6FF ;
    /* border: 2px solid conic-gradient(from 202deg at 81.78% 23.22%, #4629F2 0deg, #13C6FF 125.62500357627869deg, #B94DFB 215.62499284744263deg, #FF53EE 294.3749928474426deg, #F3B960 360deg), #D9D9D9; */
    ;
}

.list-item-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    height: 44px;
    width: 44px;
    border-radius: 44px;
    border: 2px solid var(--point-color);
}

/* text */
.bold-text-white {
    color: white;
    margin-bottom: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.medium-text-white {
    color: rgb(223, 223, 223);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bold-text {
    color: white;
    margin-bottom: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.medium-text {
    color: #b4b7be;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chat-time{
    margin: 0 10px;
    color: #8f9999;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    align-self: end;
    min-width: 58px;
}


/* chat input */

.chat-input-box {
    flex: 1;
    box-sizing: border-box;
    height: 40px;
    border-radius: 14px;
    border: 2px solid rgba(198, 198, 198, 0.7);
    background: #FDFDFD;
}

.chat-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 40px;
    border-radius: 14px;
    background: var(--point-color);
    transform: translateX(-60px);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 10px;
    box-shadow: 0px 8px 40px 0px rgba(101, 136, 222, 0.8);
}

/* chat-message */

.chat-name{
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 0 63px;
    color: #c1c1c1;
    font-size: 12px;
    font-weight: 800;
    line-height: normal;
}

.chat-room-inside {
    gap: 10px;
    height: 100%;
    padding: 30px;
    padding-top: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* 익스플로러, 앳지 */
    scrollbar-width: none; /* 파이어폭스 */
}

.chat-content {
    gap: 10px;
    padding: 30px 30px 0px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.chat-room-inside::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라 */
}

.chat-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    background: #cccccc;
    min-width: 44px !important;
    border-radius: 44px;
    border: 2px solid var(--point-color);
}

.chat-message{
    margin-left: 15px;
    border-radius: 0px 14px 14px 14px;
    background: #fff;
    /* height: 66px; */
    width: fit-content;
    padding: 12px 16px;
    max-width: 60%;
}
.flex-align-other{
    display: flex;
    flex: row;
    align-items: start;
}
.flex-align-mine{
    display: flex;
    flex-direction: row-reverse;
}
.chat-message-mine{
    margin-right: 15px;
    border-radius: 14px 0px 14px 14px;
    color: #fff;
    font-weight: 600;
    background: #7f7fd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #75beb8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #75beb8);
    width: fit-content;
    padding: 12px 16px;
    max-width: 60%;
}

.no-room-message{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c1c1c1;
    font-size: 20px;
    font-weight: 600;
}

/* heart button */

.heart {
    position: fixed;
    bottom: 50px;
    animation: fly 3s linear;
}

@keyframes fly {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-500px);
    }
}
