.carousel-container {
    width: 80%;
    margin: 0 10%;
    position: fixed;
    perspective: 1000px;
    top: 27%;
}

.carousel {
    display: flex;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    flex: 0 0 200px;
    height: 280px;
    margin: 0 15px;
    /* border-radius: 15px; */
    overflow: hidden;
    transition: transform 0.6s;
    transform-origin: center center;
    z-index: 1;

    transform-style: preserve-3d;
    opacity: 0.3;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    transform: scale(1.2) translateZ(200px) rotateY(0deg); /* Apply the flip effect */
    opacity: 1; /* Set opacity to 1 for the active slide */
}

.carousel-item.inactive {
    transform: scale(1) translateZ(0) rotateY(-180deg);
}

.carousel-item .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.carousel-item .front {
  transform: rotateY(0deg);
}

.carousel-item .back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}


.carousel-item .back-content {
  transform: rotateY(-180deg);
  position: relative;
}

.carousel-item .back-content .buy-button {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.carousel-item .back-content .ticket-count {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.carousel-item .back-content .buy-button:hover {
  border-color: #97FEED; /* Change the border color on hover */
  color: #97FEED;
}

.carousel-item.active.flipped {
  transform: scale(1.2) translateZ(200px) rotateY(180deg);
}

.carousel-item.active.flipped .front {
  transform: rotateY(180deg);
}

.carousel-item.active.flipped .back {
  transform: rotateY(0deg);
}

.carousel-item .front,
.carousel-item .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.carousel-item .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.back-content img {
  height: 100%;
}

.prevButton:hover,
.nextButton:hover {
    color: #97FEED ;
}

.navigator {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #FF0060 ;
}
.ticket-back{
  height: 100%;
  background: linear-gradient(to right, #17212d, #080c14);
  opacity: 0.8;
}
